@import helper._
@(index: Integer, field: play.api.data.Field, options: Seq[(String,String)], args: (Symbol,Any)*)(implicit handler: FieldConstructor)

@input(field, args.map{ x => if(x._1 == '_label) '_name -> x._2 else x }:_*) { (id, name, value, htmlArgs) =>
  <span class="buttonset" id="@id">
    <td style="padding-left: 10px;padding-right:10px;text-align:right;">@("Pregunta ".concat(index.toString))</td>
    @options.map { v =>
      <td><input type="radio" id="@(id)_@v._1" name="@name" value="@v._1" @if(value == Some(v._1)){checked="checked"} @toHtmlArgs(htmlArgs) style="border-width:4px;border-style:solid;border-color:red;"/>
      <label for="@(id)_@v._1">@v._2</label></td>
    }
  </span>
}