@import naranjalab.form.IngresoForm
@(userform: Form[IngresoForm])
<label class="titulo1">Crear Evaluaci&oacute;n</label>
<div class="container">
    <div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Ingresar Datos">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Seleccionar Test">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-list"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Ingresar Resultados">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-scale"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Generar Reportes">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-cog"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            @helper.form(action = routes.IngresoController.doPost()) {
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <div class="step1">
                        <div class="row">
                        	<div class="col-md-3">
	                        	@helper.inputText(userform("inputrut"), 'id -> "inputrut", 'class -> "form-control", 
	                        	'placeholder -> "12345678-9", '_label -> "Rut", '_showConstraints -> false)
                            </div>
                        </div>
                            <div class="row">
                            <div class="col-md-4">
                            	@helper.inputText(userform("nombreinput"), 'id -> "nombreinput", 'class -> "form-control", 
                            	'placeholder -> "Nombre", '_label -> "Nombre", '_showConstraints -> false)
                            </div>
                            <div class="col-md-4">
                            	@helper.inputText(userform("paternoinput"), 'id -> "paternoinput", 'class -> "form-control", 
                            	'placeholder -> "Apellido Paterno", '_label -> "Apellido Paterno", '_showConstraints -> false)
                            </div>
                            <div class="col-md-4">
                            	@helper.inputText(userform("maternoinput"), 'id -> "maternoinput", 'class -> "form-control", 
                            	'placeholder -> "Apellido Materno", '_label -> "Apellido Materno", '_showConstraints -> false)
                        	</div>
                        </div>
                        <div class="row">
                        	<div class="col-md-4">
                        		@helper.inputDate(userform("nacimiento"), 'id -> "nacimiento", 'class -> "form-control", 
                            	'placeholder -> "", '_label -> "Fecha Nacimiento", '_showConstraints -> false)
                        	</div>
                        	<div class="col-md-4">
                        		@helper.inputText(userform("profesion"), 'id -> "profesion", 'class -> "form-control", 
                            	'placeholder -> "Profesion u Oficio", '_label -> "Profesion u Oficio", '_showConstraints -> false)
                        	</div>
                            <div class="col-md-4">
                            	@helper.inputText(userform("inputemail"), 'id -> "inputemail", 'class -> "form-control", 
                            	'placeholder -> "Email", '_label -> "Email", '_showConstraints -> false)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            	@helper.inputText(userform("inputtelefono"), 'id -> "inputtelefono", 'class -> "form-control", 
                            	'placeholder -> "Telefono", '_label -> "Telefono", '_showConstraints -> false)
                            </div>
                            <div class="col-md-4">
                                @helper.inputText(userform("inputdireccion"), 'id -> "inputdireccion", 'class -> "form-control", 
                            	'placeholder -> "Direccion", '_label -> "Direccion", '_showConstraints -> false)
                            </div>
                            <div class="col-md-4">
                            	@helper.inputText(userform("inputcomuna"), 'id -> "inputcomuna", 'class -> "form-control", 
                            	'placeholder -> "Comuna", '_label -> "Comuna", '_showConstraints -> false)
                            </div>
                        </div>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary next-step">Guardar y Continuar</button></li>
                        </ul>
                    </div>
                    
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <div class="step2">
                            @tableSelect(userform)
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Guardar y Continuar</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                     @uploadTestResultsForm(userform)
                     <ul class="list-inline pull-right">
                         <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                         <li><button type="button" class="btn btn-primary btn-info-full next-step">Guardar y Continuar</button></li>
                     </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <div class="step4">
                            <h5>Generar Reportes</h5>
                            <hr>
                            <div class="container" id="box">
								<div class="row well">
							             <button class="btn btn-primary hidden-print"><span class="glyphicon glyphicon-cog large" aria-hidden="true"></span> Generar Reportes</button>
							        
								</div>
							</div>
                        </div>
                    </div>
                </div>
                }
        </div>
    </section>
   </div>
</div>
<script>
function myFunction() {
    window.print();
}
$(document).ready(function(){
	$('#inputrut').mask('09.999.999-9');
});

</script>
