@import play.mvc.Http.Flash
@import play.i18n.Lang
@import play.i18n.Messages
@import naranjalab.form.UserForm
@(message : String)(userform: Form[UserForm])(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@Messages.get("main.title")</title>
      	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
<!--         <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")"> -->
<!--         <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")"> -->
		
	    <!-- jQuery -->
	    <script src="@routes.Assets.versioned("bootstrap/js/jquery.js")"></script>
	    
	    <script type="text/javascript">
  		function muestraReset(){
  			$('#resetpwd').fadeIn();
  			$('#btnlogin').val("@Messages.get("login.btn.reset")");
  		}
  		function ocultaReset(){
  			$('#resetpwd').fadeOut();
  			$('#btnlogin').val("@Messages.get("login.btn.login")");
  			$('#newpassword').val('');
  			$('#newpasswordconfirmation').val('');
  		}
  		function cargaerror(err) {
  			if(err != null && err != ''){
  				alert(err);
  			}
  		    console.log( "ready!" );
  		}
  </script>
    </head>
    <body>
  <section class="container">
    <div class="login">
      <h1>@Messages.get("login.title")</h1>
      @helper.form(action = routes.LoginController.doPost()) {
		    <p>
		    	@helper.inputText(userform("login"), 'id -> "login", 'placeholder -> Messages.get("login.user.placeholder"), 
		    	'_label -> "", '_showConstraints -> false)
		    </p>
			        <p>
			        @helper.inputPassword(userform("password"), 'id -> "password", 'placeholder -> Messages.get("login.pwd.placeholder"), 
		    		'_label -> "", '_showConstraints -> false)
			        </p>
			        <div id="resetpwd" style="display:none;">
			        <p></p>
				        <p>
				        @helper.inputPassword(userform("newpassword"), 'id -> "newpassword", 'placeholder -> Messages.get("login.pwd.new.placeholder"), 
		    			'_label -> "", '_showConstraints -> false)
				        </p>
				        <p>
				        @helper.inputPassword(userform("newpasswordconfirmation"), 'id -> "newpasswordconfirmation", 'placeholder -> Messages.get("login.pwd.confirm.placeholder"), 
		    			'_label -> "", '_showConstraints -> false)
				        </p>
			        </div>
			        <p class="remember_me">
			          <label>
			            <input type="checkbox" name="rememberMe" id="remember_me">
			            @Messages.get("login.remember")
			          </label>
			        </p>
			        <br/>
			        <p class="submit"><input id="btnlogin" type="submit" name="btnlogin" value="@Messages.get("login.btn.login")"/></p>
			}
			
    </div>
    <div class="login-help">
      <p>@Messages.get("login.pwd.forgot") <a href="#" onclick="muestraReset();">@Messages.get("login.pwd.reset")</a>.</p>
      <p>@lang.code</p>
    </div>
  </section>
  <a href="#" onclick="muestraReset()">show it!</a>
  <a href="#" onclick="ocultaReset()">hide it!</a>
@popupmensaje(false)
@if(flash.get("err") != null && !flash.get("err").isEmpty()){
	<script type="text/javascript">cargaerror('@flash.remove("err")');</script>
}
@if(flash.get("resetit") != null && flash.get("resetit").equals("true")){
	<script type="text/javascript">muestraReset();</script>
}

</body>
</html>
