@import play.mvc.Http.Session
@import play.mvc.Http.Flash
@(content: Html)(implicit flash: Flash, session: Session)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <title>@Messages("main.title")</title>
      	
      	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	    
	    <!-- Compiled and minified CSS -->
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		
		 
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
	     
	    <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/style.css")">
      	
      	<!-- Bootstrap Core CSS -->
    	<link href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")" rel="stylesheet">

		<!-- Tab Form bootstrap -->
		<link href="@routes.Assets.versioned("bootstrap/css/formStyle.css")" rel="stylesheet">
		<!-- bootstrap table selection-->
		<link href="@routes.Assets.versioned("bootstrap/css/tableSelection.css")" rel="stylesheet">
		
	    <!-- Custom CSS -->
	    <link href="@routes.Assets.versioned("bootstrap/css/simple-sidebar.css")" rel="stylesheet">
		

	    
	    <!-- jQuery -->
	    <script src="@routes.Assets.versioned("bootstrap/js/jquery.js")"></script>
	
	    <!-- Bootstrap Core JavaScript -->
	    <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
	    <!-- Compiled and minified JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	    
		<!-- Tab form script -->
		<script src="@routes.Assets.versioned("bootstrap/js/formTab.js")"></script>
	    <!-- selection table script-->
		<script src="@routes.Assets.versioned("bootstrap/js/tableSelection.js")"></script>
	    
	    	    
	    <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/animate.css")" type="text/css" />

    	<link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/rmodal.css")" type="text/css" />
    	<script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/rmodal.js")"></script>
	    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/jquery.mask.min.js")"></script>
	    
	    <script type="text/javascript">
		    function redirectHim() {
		    	var id = "@session.get("id")";
		    	if(id == null || id == ''){
		    		window.location.replace("/login");
		    	}
		    }
		    window.onload = redirectHim;
		    
		    $(document).ready(function(){
		    	$("#menu-toggle").click(function(e) {
			        e.preventDefault();
			        $("#wrapper").toggleClass("toggled");
			    });
	    	});
	    </script>
    </head>
    <body>
    
    <div id="wrapper">
    <!-- Sidebar -->
        <div id="sidebar-wrapper" class="black">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        Menu Inicio Evaluaciones
                    </a>
                </li>
                <li>
                    <a href="/main">Inicio</a>
                </li>
                <li>
                    <a href="/ingreso">Crear Evaluacion</a>
                </li>
                <li>
                    <a href="#">Gestionar Evaluaciones</a>
                </li>
                <li>
                    <a href="#">Generar Reportes</a>
                </li>
                @if(session.get("role") != null && session.get("role") == "admin"){
	                <li>
	                    <a href="/newuser">Mantencion de Usuarios</a>
	                </li>
                }
                <li>
                    <a href="#">Configuraciones</a>
                </li>
                <li>
                    <a href="/logout">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            <a href="#" class="btn-floating btn-small" style="float: left;" id="menu-toggle"><i class="small material-icons grey">reorder</i></a>
            <div id="popupcontainer">
            @popupmensaje(true)
            </div>
                <div class="row">
                    <div>
                        @content
                    </div>
                </div>
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>  
</body>
</html>
