@import naranjalab.form.IngresoForm
@(userform: Form[IngresoForm])
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <label class="panel-title">Selecci&oacute;n de Tests disponibles</label>
                  </div>
<!--                   <div class="col col-xs-6 text-right"> -->
<!--                     <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button> -->
<!--                   </div> -->
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th><input type="checkbox" name="checkall" id="checkall" value="value" checked onclick="checkThem();">
                        <label for="checkall">Todos</label>
                        </th>
                        <th class="hidden-xs">ID</th>
                        <th>Nombre</th>
                        <th>Descripci&oacute;n</th>
                    </tr> 
                  </thead>
                  <tbody>
                          <tr>
                            <td style="text-align:center;">
                            <input type="checkbox" name="checktest1" id="checktest1" value="true" checked>
                        	<label for="checktest1"></label>
					        </td>
                            <td>1</td>
                            <td>Test IC</td>
                            <td>Test de Instrucciones Complejas</td>
                          </tr>
                        </tbody>
                </table>
              </div>
              <div class="panel-footer" style="display:none;">
                <div class="row">
                  <div class="col col-xs-4">Page 1 of 5
                  </div>
                  <div class="col col-xs-8">
                    <ul class="pagination hidden-xs pull-right">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                    </ul>
                    <ul class="pagination visible-xs pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function checkThem(){
		if($('#checkall').is(':checked')){
			$('#checktest1').prop('checked', true);
		} else {
			$('#checktest1').prop('checked', false);
		}
		
	}
</script>